<!DOCTYPE html>

<html lang="en">
<head>
	<link rel="stylesheet" href="css/starlords.css" type="text/css" charset="utf-8">
	<link href='http://fonts.googleapis.com/css?family=Carter+One' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Amaranth:regular,regularitalic,bold,bolditalic' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Droid+Serif:regular,italic,bold,bolditalic' rel='stylesheet' type='text/css'>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>{{ page.title }}</title>
</head>
<body>
	<div class="content">
		{{ content }}
	</div>
</body>
</html>
